body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header img {
    width: 100px;
    height: 100px;
}

header .title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

header .slogan {
    font-size: 1.5em;
    color: yellow;
    margin: 0;
}



nav {
    width: 100%;
    background-color: #333333;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 15px;
}

#message {
    width: 100%;
    background-color: #dddddd;
    text-align: center;
    padding: 10px 0;
}

.marquee-text {
    color: red;
    font-size: 1.5em;
}

h2 {
    text-align: center;
    color: #0000FF;
    font-size: 1.5em;
    margin-top: 20px;
}

#movies {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
}

#movies article {
    width: 30%;
}

#movies img {
    width: 150px;
    height: 200px;
}

.movie-title {
    color: #006600;
    font-weight: bold;
}

section#order {
    text-align: center;
    margin: 20px auto;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}